<form [formGroup]="formulario" (ngSubmit)="anadirPersona()" class="w-75 m-auto mt-4 py-3 px-3 rounded-3 shadow-sm row justify-content-center row-gap-3">
    <h2>FORMULARIO</h2>
    <div class="col-11">
        <input type="text" class="form-control" placeholder="Nombre" formControlName="nombre">
    </div>
    <div class="col-11">
        <input type="number" class="form-control" placeholder="Edad" formControlName="edad">
    </div>
    <div class="text-end">
        <button type="submit" class="btn btn-light">Añadir</button>
    </div>
</form>

<div class="row justify-content-around gap-3 px-3 mt-5">
    <div class="col-4 rounded-3 shadow-sm py-4 px-3" *ngFor="let persona of personas">
        <p class="mb-2">Nombre </p>
        <p class="small mb-4 text-muted fw-bold">{{ persona.nombre }}</p>

        <p class="mb-2">Edad </p>
        <p class="small mb-4 text-muted fw-bold">{{ persona.edad }}</p>
    </div>
</div>