<form class="m-5">
    <div>
        <h1 class="mb-5">Log In</h1>
        <label for="usuario" class="form-label">Correo</label><br>
        <input id="usuario" type="email" class="form-control"><br><br>
        <label for="contraseña" class="form-label">Contraseña</label><br>
        <input id="contraseña" type="password" class="form-control" aria-describedby="passwordAyuda" [class.type.text] = "showPassword">
        <button type="button">
            <i class="bi bi-eye"></i>
        </button>
        <p class="form-text" id="passwordAyuda">Tu contraseña debe de tener entre 8-20 caracteres</p>
    </div>
    <div class="text-center mt-4 mb-5">
        <button type="submit" class="bg-dark text-white p-3 rounded-5 text-center w-50">Iniciar sesión</button>
    </div>
    <div class="text-center mt-5">
        <p class="form-text">¿No tienes cuenta?</p>
        <button type="submit" class="bg-dark text-white p-3 rounded-5 text-center w-50">Registrarse</button>
    </div>
</form>
