<body>
    <div class="text-center row justify-content-center p-3 category">
        <h1 class="mt-2 col-6 me-3 display-2">CATEGORÍA</h1>
    </div>
    <div class="d-block text-center bg-dark">
        <div class="row align-center p-1">
            <p class="col-9 display-4">To do</p>
            <button class="btn btn-light mt-2 col-3" (click)="toogleTaksToDo()">
                <i class="bi bi-triangle-fill text-center justify-content-center"></i>
            </button>
            <div *ngIf="showTaksToDo" class="bg-white">
                <div  *ngFor="let task of currentTasks" class="bg-white">
                    <div class="row p-2">
                        <button class="btn btn-light col-1 bg-white border-white" (click)="removeTask(task)">
                            <i class="bi bi-trash text-center justify-content-center fs-5"></i>
                        </button>
                        <p class="col-2 mt-3 me-5">{{task.nombre}}</p>
                        <button class="btn btn-light col-1 star bg-white border-white">
                            <i class="bi bi-star text-center justify-content-center fs-5"></i>
                        </button>
                        <p class="col-3 mt-3">{{task.fecha}}</p>
                        <button class="btn btn-light col-1 bg-white border-white">
                            <i class="bi bi-three-dots text-center justify-content-center fs-5"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row align-center p-1">
            <p class="col-9 display-4">Doing</p>
            <button class="btn btn-light mt-2 col-3" (click)="toogleTaksDoing()">
                <i class="bi bi-triangle-fill text-center justify-content-center"></i>
            </button>

            <div *ngIf="showTaksDoing" class="bg-white">
                <div class="row p-2">
                    <button class="btn btn-light col-1 bg-white border-white">
                        <i class="bi bi-trash text-center justify-content-center fs-5"></i>
                    </button>
                    <p class="col-2 mt-3 me-5">Task 1</p>
                    <button class="btn btn-light col-1 star bg-white border-white">
                        <i class="bi bi-star text-center justify-content-center fs-5"></i>
                    </button>
                    <p class="col-3 mt-3">DD/MM/AA</p>
                    <button class="btn btn-light col-1 bg-white border-white">
                        <i class="bi bi-three-dots text-center justify-content-center fs-5"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row align-center p-1">
            <p class="col-9 display-4">Done</p>
            <button class="btn btn-light col-1 mt-2 col-3" (click)="toogleTaksDone()">
                <i class="bi bi-triangle-fill text-center justify-content-center"></i>
            </button>

            <div *ngIf="showTaksDone" class="bg-white">
                <div class="row p-2">
                    <button class="btn btn-light col-1 bg-white border-white">
                        <i class="bi bi-trash text-center justify-content-center fs-5"></i>
                    </button>
                    <p class="col-2 mt-3 me-5">Task 1</p>
                    <button class="btn btn-light col-1 star bg-white border-white">
                        <i class="bi bi-star text-center justify-content-center fs-5"></i>
                    </button>
                    <p class="col-3 mt-3">DD/MM/AA</p>
                    <button class="btn btn-light col-1 bg-white border-white">
                        <i class="bi bi-three-dots text-center justify-content-center fs-5"></i>
                    </button>
                </div>
            </div>
        </div>
        <div class="row align-center p-1">
            <p class="col-9 display-4">Delayed</p>
            <button class="btn btn-light col-1 mt-2 col-3" (click)="toogleTaksDelayed()">
                <i class="bi bi-triangle-fill text-center justify-content-center"></i>
            </button>

            <div *ngIf="showTaksDelayed" class="bg-white">
                <div class="row p-2">
                    <button class="btn btn-light col-1 bg-white border-white">
                        <i class="bi bi-trash text-center justify-content-center fs-5"></i>
                    </button>
                    <p class="col-2 mt-3 me-5">Task 1</p>
                    <button class="btn btn-light col-1 star bg-white border-white">
                        <i class="bi bi-star text-center justify-content-center fs-5"></i>
                    </button>
                    <p class="col-3 mt-3">DD/MM/AA</p>
                    <button class="btn btn-light col-1 bg-white border-white">
                        <i class="bi bi-three-dots text-center justify-content-center fs-5"></i>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="">
        <button class="addButton rounded-circle btn btn-light position-fixed bottom-0 rounded-circle end-0 m-5 z-3" (click)="toogleAddTaskModal()">
            <i class="bi bi-plus"></i>
        </button>
    </div>
</body>

<app-add-task-modal *ngIf="showAddTaskModal"></app-add-task-modal>